<div class="kanban-card" data-card-id="{{id}}">
    <div class="kanban-card__header">
        <span class="kanban-card__title">{{title}}</span>
        <div class="kanban-card__actions">
            <a class="btn-icon btn-icon--edit"
               data-bs-toggle="modal"
               data-bs-target="#editCardModal"
               data-id="{{id}}"
               data-title="{{title}}"
               data-description="{{description}}"
               data-start_date="{{start_date}}"
               data-deadline="{{deadline}}"
               data-responsible_id="{{responsible_id}}"
               role="button"
               title="Editar"><i class="bi bi-pencil"></i></a>
            <form action="/deleteCard/{{id}}" method="post" style="display:inline">
                <button type="submit" class="btn-icon btn-icon--delete" title="Eliminar"><i class="bi bi-trash"></i></button>
            </form>
        </div>
    </div>

    <div class="kanban-card__body">
        {{#if description}}
            <p class="kanban-card__desc">{{{description}}}</p>
        {{/if}}
        {{#if start_date}}
            <span class="kanban-card__meta">{{ dateFormat start_date }}</span>
        {{/if}}
        {{#if deadline}}
            <span class="kanban-card__meta">{{ dateFormat deadline }}</span>
        {{/if}}
    </div>
</div>
